
  
  
  .header {
      margin-top: 40px;
  }

  .title { 
    color: rgb(164, 110, 215);
    text-align: center;
  }

  .wontitle {
    color: rgb(207, 111, 215) ;
    text-align: center;
  }

  .boutton{
    background-color: rgb(196, 160, 229);
    color: cornsilk;
  }

  .turn{
    color:rgb(186, 97, 186);
    text-align: center;
  }